<apex:component >

<apex:attribute name="onchange" type="string" description="onchange event" />

<input name="{!$Component.lookUp}_lkid" id="{!$Component.lookUp}_lkid" value="000000000000000" type="hidden" />
<input name="{!$Component.lookUp}_lkold" id="{!$Component.lookUp}_lkold" value="null" type="hidden" />
<input name="{!$Component.lookUp}_lktp" id="{!$Component.lookUp}_lktp" value="001" type="hidden" />
<input name="{!$Component.lookUp}_lspf" id="{!$Component.lookUp}_lspf" value="0" type="hidden" />
<input name="{!$Component.lookUp}_lspfsub" id="{!$Component.lookUp}_lspfsub" value="0" type="hidden" />
<input name="{!$Component.lookUp}_mod" id="{!$Component.lookUp}_mod" value="0" type="hidden" />

<apex:outputPanel styleClass="lookupInput" id="top">
    <apex:inputText id="lookUp" maxlength="255" size="20" onchange="getElementByIdCS('{!$Component.lookUp}_lkid').value='';getElementByIdCS('{!$Component.lookUp}_mod').value='1';" onblur="{!onchange}" />
    <a href="javascript:openLookup('/_ui/common/data/LookupPage?lknm={!$Component.lookUp}&lktp=' + getElementByIdCS('{!$Component.lookUp}_lktp').value,670,'1','&lksrch=' + escapeUTF(getElementByIdCS('{!$Component.lookUp}').value.substring(0, 80)))" id="{!$Component.lookUp}_lkwgt" onclick="setLastMousePosition(event)">
        <img src="/s.gif" class="lookupIcon" onblur="this.className = 'lookupIcon';" onfocus="this.className = 'lookupIconOn';" onmouseout="this.className = 'lookupIcon';this.className = 'lookupIcon';" onmouseover="this.className = 'lookupIconOn';this.className = 'lookupIconOn';" />
    </a>
</apex:outputPanel><br />

<script>
    var lookupInput = getElementByIdCS('{!$Component.top}').parentNode;

    lookupInput.updateLookupType =
        function(objectid)
        {
            getElementByIdCS('{!$Component.lookUp}_lktp').value = objectid;
        }

    lookupInput.setValue =
        function(val)
        {
            getElementByIdCS('{!$Component.lookUp}').value = val;
        }

    lookupInput.getValue =
        function()
        {
            return getElementByIdCS('{!$Component.lookUp}').value;
        }

    lookupInput.getId =
        function()
        {
            return getElementByIdCS('{!$Component.lookUp}_lkid').value;
        }
</script>

</apex:component>